.custom-card {
  width: 15em;
  padding: 1em;
  border-radius: 1em;
}

.custom-card-img {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.75em;
}

.custom-card,
.custom-card-img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.custom-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-card > .title {
  margin-top: 0.75em;
}

.custom-card > .title,
.custom-card > .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-card > .title > h3 {
  font-size: 0.75em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.custom-card > .title > p,
.custom-card > .details > p {
  font-size: 0.5em;
  padding: 0;
  margin: 0;
}
